<footer class="bg-[#2C3E50] text-white">
  <div class="p-4 max-w-6xl mx-auto flex flex-col md:flex-row justify-between space-y-6 md:space-y-0">
    <div class="flex-1 text-center md:text-left">
      <h3 class="pt-5 text-lg font-semibold">LOCATION</h3>
      <p>2215 John Daniel Drive</p>
      <p>Clark, MO 65243</p>
    </div>
    <div class="flex-1 text-center">
      <h3 class="pt-5 text-lg font-semibold">AROUND THE WEB</h3>
      <div class="flex justify-center mt-3 space-x-3 text-2xl">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-linkedin-in"></i>
        <i class="fa-solid fa-globe"></i>
      </div>
    </div>
    <div class="flex-1 text-center md:text-right">
      <h3 class="pt-5 text-lg font-semibold">ABOUT FREELANCE</h3>
      <p class="mt-2">
        Freelance is a free to use, licensed Bootstrap theme created by Route
      </p>
    </div>
  </div>
  <div class="bg-[#1A252F] text-center p-4 mt-6 text-sm">
    &copy; Your Website 2021
  </div>
</footer>
