<div class="home flex justify-center items-center text-white">
  <div class="text-center">
    <img class="mb-3 mx-auto" src="assets/avatar.svg" alt="" />

    <div class="pt-4 text-white]">
      <h2 class="uppercase mb-3 text-4xl font-extrabold">start framework</h2>

      <div class="flex justify-center items-center mb-3">
        <div class="h-1 w-16 bg-white mr-4"></div>
        <i class="fa-solid fa-star text-white"></i>
        <div class="h-1 w-16 bg-white ml-3"></div>
      </div>

      <div class="text-lg">Graphic Artist - Web Designer - Illustrator</div>
    </div>
  </div>
</div>
